.css-uyEcqkz {
    padding: 0 1rem;
    
    h3 {
        color: #323b4e;
        font-size: 1.35rem;
        font-weight: 700;
        letter-spacing: -0.3px;
        line-height: 26px;
        margin: 40px 0 0 0;
    }
    
    p {
        color: #323b4e;
        margin: 1rem 0 0 0;
    }
    
    a {
        color: $t-color;
        font-weight: 700;
        text-decoration: underline;
        
        &:hover {
            color: lighten($t-color, 8%);
        }
    }

    li,
    p {
        font-size: 1.05rem;
        line-height: 26px;
        margin-top: 16px;
    }

    h1,
    h2,
    h3,
    p,
    ul {
        scroll-margin-top: 108px;
    }

    ol,
    ul {
        padding: 0 0 0 40px;
        margin: 16px 0;
    }

    li {
        margin-top: 2px;
    }

    img {
        display: block;
        margin: 0 auto;
    }
    
    figure {
        margin: 45px 0;
    
        img {
            max-width: 100%;
            height: auto;
        }

        figcaption {
            font-size: 14px;
            text-align: center;
            padding: 6px 0 0 0;
            opacity: .6;
        }
    }
}

.css-iqzvNls {
    padding: 0 1rem;

    img {
        width: calc(100% + 2rem);
        max-width: none;
        margin: 0 0 2rem -1rem;
    }

    h1 {
        color: #323b4e;
        font-size: 1.2rem;
        font-weight: 500;
        margin: 0 0 .25rem 0;
        opacity: .8;
    }

    h2 {
        display: block;
        font-size: 1.75rem;
        font-weight: 600;
        line-height: 2rem;
        padding-right: 20%;
        margin: 0 0 2rem 0;
    }

    hr {
        height: 1px;
        margin: 1.5rem auto;
        border: none;
        color: $fd-color;
        background-color: $fd-color;
    }

    label {
        position: relative;
        display: block;
        font-size: 1rem;
        color: #323b4e;
        margin: 1rem 0 0 2rem;
        opacity: .6;

        span {
            position: absolute;
            top: 3px;
            left: -24px;
            font-size: .95rem;
        }

        .icon-link {
            top: 5px;
            transform: rotate(135deg);
        }
    }

    p {
        font-size: 1.15rem;
        font-weight: 600;
        margin: 0 0 0 2rem;
    }

    a {
        font-size: 1.15rem;
        font-weight: 600;
        margin: 0 0 0 2rem;

        &:hover {
            text-decoration: underline;
        }
    }
}