
// Font Stack
$p-font: 'Source Sans Pro', sans-serif;
$s-font: 'Source Serif Pro', sans-serif;

// Primary Colors
$b-color: #fafafa; // background
$s-color: #2B68DE; // secondary
$t-color: #5271ff; // trinary
$h-color: #596170; // hover

$w-color: #ffffff; // white
$bl-color: #000000; // black
$error: #d30012; // error
$hr: #d30012; // hr

// Font Colors
$f-color: #323b4e; // primary
$fs-color: #747474; // secondary

// Dark Colors
$bd-color: #101010; // background
$fd-color: #e9e9e9; // primary
$hd-color: #bbbbbb; // hover
$hrd: #ffffff; // hr dark