.contact,
.success {
    max-width: 64%;

    p {
        padding: 0 48px 0 0;
    }

    form {
        display: grid;
        grid-template-columns: 50% 50%;

        .check {
            display: none;
        }

        .input {
            margin: 12px 0;

            textarea,
            input {
                display: inline-block;
                width: 90%;
                max-width: 295px;
                background: $b-color;
                color: $f-color;
                font-family: $p-font;
                font-size: 18px;
                border: none;
                border-bottom: 1px solid $b-color;
                padding: 4px 0 6px 0;
                margin: 0;
                outline: none;
                transition: border .1s;
                resize: none;

                &::placeholder {
                    color: $f-color;
                    opacity: .6;
                }

                &:focus,
                &:hover {
                    border-color: rgba($bl-color, .06);
                }
            }

            label {
                display: block;
                color: $f-color;
                font-size: 13px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        .message {
            grid-column: 1/3;
            min-height: 80px;

            textarea {
                width: 100%;
                max-width: 100%;
                border: none;
                min-height: 80px;

                &:focus,
                &:hover {
                    border: none;
                }
            }
        }    

        a[type="submit"] {
            grid-column: 1;
            width: max-content;
            font-size: 18px;
            margin: 12px 0;

            span {
                position: relative;
                top: 2px;
                font-size: 16px;
                margin: 3px 6px;
            }

            &:hover {
                color: $h-color;
            }
        }
    }
}

.success {
    hr {
        margin: 0 0 24px 0;
    }

    a {
        color: $s-color;
        font-size: 18px;
        padding: 0;

        span {
            position: relative;
            top: 2px;
            font-size: 16px;
            margin: 3px 6px;
        }

        &:hover {
            opacity: .8;
        }
    }
}

@media only screen and (max-width: 576px) {
    .contact,
    .success {
        max-width: 100%;
        
        form {
            max-width: 100%;
            padding: 24px 0 36px 0;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .contact,
    .success {
        form {
            .input {
                textarea,
                input {
                    color: $fd-color;
                    background: $bd-color;
                    border-color: $bd-color;

                    &::placeholder {
                        color: $fd-color;
                        opacity: .8;
                    }

                    &:focus,
                    &:hover {
                        border-color: rgba($w-color, .1);
                    }
                }

                label {
                    color: $fd-color;
                }
            }

            a[type="submit"]:hover {
                color: $hd-color;
            }
        }
    }
}