footer {
    display: block;
    width: 100%;
    max-width: 1010px;
    padding: 0 50px 50px 50px;
    margin: 0 auto;

    p {
        float: left;
        font-size: 14px;
        font-weight: 600;
    }

    ul {
        float: right;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            margin: 0 11px;

            a {
                font-size: 14px;
                font-weight: 600;

                &:hover {
                    color: $h-color;
                }
            }

            &:last-of-type {
                margin: 0 0 0 11px;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    footer {
        display: grid;
        gap: 12px 0;
        padding: 0 32px 32px 32px;

        p {
            grid-row: 2;
        }

        ul {
            grid-row: 1;
            float: none;

            li {
                margin: 0 16px;

                &:first-of-type,
                &:last-of-type {
                    margin: 0;
                }
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    footer {
        ul li a:hover {
            color: $hd-color;
        }
    }
}