.projects .apps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px 48px;
    padding: 12px 0 24px 0;

    .project {
        transition-duration: .1s;
        margin: 0;

        img {
            display: block;
            max-width: 100%;
            border-radius: 0;
            margin: 0 auto;
        }

        .desc {
            width: 100%;
            padding: 24px 0 48px 0;
            margin: 0 auto;

            p {
                font-size: 18px;
                margin: 12px 0;
            }

            .btns a {
                display: inline-block;
                font-size: 16px;
                font-weight: 600;
                background: darken($b-color, 2%);
                border: 1px solid rgba($f-color, .4);
                border-radius: 99px;
                padding: 7px 24px 8px 18px;
                margin: 8px 0 24px 0;

                span {
                    position: relative;
                    top: 1px;
                    right: -8px;
                }
                
                &.study {
                    background: rgba($t-color, .04);
                    border-color: rgba($t-color, .8);
                    margin: 8px 8px 24px 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .projects .apps {
        display: block;
        max-width: calc(100% - 6px);
        padding: 32px 0;

        .card {
            display: block;
            margin: 0 0 56px 0;

            p {
                max-width: 100%;
            }

            &:hover {
                translate: none;
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    .projects .apps {
        .project .desc .btns a {
            border-color: $fd-color;
            background: lighten($bd-color, 8%);

            &:hover {
                color: $hd-color;
                border-color: $hd-color;
            }
            
            &.study {
                background: rgba($t-color, .16);
                border-color: $t-color;

                &:hover {
                    color: $hd-color;
                    border-color: rgba($t-color, 80%);
                }
            }
        }
    }
}