@import 'fonts';
@import 'config';

main {
    min-height: calc(100vh - 62px);
}

html {
    scroll-behavior: smooth;
}

*, *:after, *:before { 
    box-sizing: border-box;  
    
    &:focus {
        outline: none;
    }
}

@import 'pages/index';