@import 'fonts';
@import 'config';

html,
body {
    background: $b-color;
    font-family: $p-font;
    padding: 0;
    margin: 0;
    image-rendering: -webkit-optimize-contrast;
}

main {
    width: 100%;
    max-width: 1010px;
    min-height: calc(100vh - 50px);
    padding: 38px 50px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

*, *:after, *:before { 
    box-sizing: border-box;  
    
    &:focus {
        outline: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
a {
    color: $f-color;
    font-family: $p-font;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

h1 { font-size: 56px }
h2 { font-size: 32px }
h3 { font-size: 28px }
h4 { font-size: 22px }
h5 { font-size: 18px }
h6 { font-size: 16px }

a {
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

hr {
    width: 100%;
    height: 6px;
    background-image: url("/img/divider.svg");
    background-repeat: repeat-x;
    background-position: left center;
    margin: 24px 0;
    border: none;
}

@media only screen and (max-width: 576px) {
    main {
        min-height: calc(100vh - 154px);
        padding: 36px 32px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }
    
    html,
    body {
        background: $bd-color;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    li,
    p,
    a {
        color: $fd-color;
    }

    hr {

        opacity: .4;
    }
}

@import 'header';
@import 'index';
@import 'pages';
@import 'about';
@import 'projects';
@import 'blog';
@import 'contact';
@import 'footer';